.atualizar{
	  background-color: #ccc !important;
  background: #00CCC0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    width: 200px !important;
    margin-left: 200px;
    margin-top: 20px;
    color: white !important;
}