.box3 {
  height: 90vh;
  background-color: #EBEBEB;
  display: flex;
  justify-content:center;
  padding: 0 !important;
  font-family: 'Raleway', sans-serif;
  
}
.box4 {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  background-color: white;
  height: 60vh;
  box-shadow: 2px 2px 5px 2px #D6D6D6;
  width: 60vw;
  margin-top: 50px;
  height: 290px;
  justify-content: center;
}
.inserir{
  background-color: #00CCC0 !important;
  width: 405px;px;
}
.btn-inserir{
  background-color: #ccc !important;
  background: #00CCC0 !important;
    border: 0 !important;
    border-radius: 0 !important;
    width: 200px !important;
    margin-left: 200px;
    margin-top: 20px;
    color: white !important;
}